@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
  background-color: #fefefe;
  font-size: 100%;
  font-family: 'Roboto Slab', Verdana, sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  color: #2c3e50;
}
a {
  color: #34495e;
}
a:hover {
  text-decoration: none;
  color: #3498db;
}
h1 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 120%;
}
h1,h2,h3 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  border-left: 4px solid #ddd;
  margin: 0 5px;
  padding: 3px 5px;
  color: #777;
  background-color: #eee;
}
code {
  background-color: #eee;
  padding: .1em .3em;
  border-radius: .3em;
  border: 1px solid #ddd;
}
pre {
  font-family: monospace;
  font-size: 1.2em;
}
pre code {
  background-color: transparent;
  border: none;
}
hr {
  width: 100%;
  border: 0;
  border-bottom: 8px dotted #eee;
}

.app {
  display: flex;
}
.nav {
  flex: auto;
  width: 20%;
  padding: 1em;
  position: fixed;
}
.content {
  flex: auto;
  padding: 1em;
  margin-left: 20%;
  width: 80%;
}

/* Nav */
.nav ul {
  padding: 0;
  margin: 0;
  zoom: 1;
  overflow: auto;
}
.nav li {
  list-style: none;
  text-transform: uppercase;
  padding: .3rem;
}
.nav li:hover {
}
.nav a {
  text-decoration: none;
  cursor: pointer;
}

/* Posts */
.posts {
  padding: 0;
  margin: 0;
}
.posts li {
  list-style: none;
  border-bottom: 1px solid #7f8c8d;
  padding: 0 0 .5rem 0;
  margin: 0 0 1rem 0;
}
.posts li:hover {
  transition: padding-bottom .3s;
  padding-bottom: 1rem;
}
.posts h2 {
  text-transform: uppercase;
}
.posts a {
  text-decoration: none;
}
.posts p {
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

/* Post */
.post {
  padding: 0;
  margin: 0;
}
.post-title {
  border-bottom: 1px solid #7f8c8d;
}
.post-content {
  clear: both;
  margin: 2em 0;
  border-bottom: 1px solid #7f8c8d;
}
.post-content h2 {
  margin-top: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}
.post-content pre {
  margin: 1em 0;
}
.post-content p {
  margin: 1em 0;
}
.post-content ul {
  margin: 1em 2em;
}
.post-content li {
  list-style: disc;
}

/*
Mobile
*/
@media (max-width: 600px) {
  .nav {
    width: 10%;
  }
  .content {
    margin-left: 10%;
  }
}
@media (min-width: 1100px) {
  .content {
    /*width: 80%;*/
  }
}

/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822; color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}
