---
layout: voxel
scripts: /js/voxel/simple.js
title: voxel.js ftw!
description: A simple voxel.js example.
date: 2013-04-23
project: voxeljs
---
<section class="small">
  <h1>Example</h1>
  <p>This is just an example of a simple voxel.js game.</p>
  <p>Click on the game to play and press <code>esc</code> to stop.</p>
  <%- partial('share') %>
</section>
<section id="voxel"></section>