---
layout: default
---
<div class="resume">
  <div class="entry">
    <strong>KYLE ROBINSON YOUNG</strong> is a passionate and constantly evolving open source developer from Napa, CA.<br/>
    He is fortunate to share his life with the two greatest boys Issac and Oliver and his endearing wife Crystal.<br/>
    He enjoys talking about code and design, working on and playing games, programming and flying drones. When forced to do things away from the computer Kyle will usually juggle, play music or take photos.
    <br/><br/>
  </div>

  <strong>OPEN SOURCE</strong><br/>
  <div class="entry">
    2012 - Now<br/>
    <a href="http://gruntjs.com" target="_blank">Grunt</a><br/>
    Grunt is a Node.js based task runner for automating and normalizing build work flows. Kyle started contributing to Grunt a short bit after it was released and was added to the core team a few months later. He is primarily responsible for <a href="https://github.com/gruntjs/grunt-contrib-watch" target="_blank">grunt-contrib-watch</a> but is now the primary maintainer for all the <a href="https://github.com/gruntjs" target="_blank">grunt-contrib</a> tasks.
    <br/><br/>
    2013 - Now<br/>
    <a href="http://voxeljs.com" target="_blank">voxel.js</a><br/>
    voxel.js is a modular open source game engine built on WebGL. Two weeks after it was released, Kyle built <a href="https://github.com/shama/voxel-drone" target="_blank">voxel-drone</a>, an ar-drone simulator that runs completely in the web browser. Since then he has created numerous more voxel modules including, <a href="https://github.com/shama/voxel-sky" target="_blank">voxel-sky</a>, <a href="https://github.com/shama/voxel-critter" target="_blank">voxel-critter</a>, <a href="https://github.com/shama/voxel-snow" target="_blank">voxel-snow</a>, <a href="https://github.com/shama/voxel-portal-gun" target="_blank">voxel-portal-gun</a>. As well as contributing back to the main project and community made projects.
    <br/><br/>
    <div class="cols">
      2012 - 2013<br/>
      <a href="http://croogo.org/" target="_blank">Croogo</a><br/>
      Croogo is a CMS built upon CakePHP.
      <br/><br/><br/><br/>
      2010 - 2012<br/>
      <a href="http://cakephp.org/" target="_blank">CakePHP</a><br/>
      CakePHP is a MVC framework that prefers convention over configuration, similar and originally based upon the ideals of Ruby on Rails.
    </div>
    Among many other open source libraries, please visit Kyle on <a href="https://github.com/shama" target="_blank">github.com/shama</a> or read his <a href="http://osrc.dfm.io/shama" target="_blank">open source report card</a>.
    <br/><br/>
  </div>

  <strong>WORK HISTORY</strong><br/>
  <div class="entry">
    2012 - 2013 / Lead Front End Developer<br/>
    <a href="http://750group.com" target="_blank">750 Group</a><br/>
    Kyle led the client side development primarily by creating and supporting tools to streamline developer work flow. He created an unique CMS, <a href="http://edityour.com" target="_blank">edityour.com</a>; a generic, S/FTP based editor with a clean UI configured by inlined HTML attributes.
    <br/><br/>
    2004 - 2012 / Freelance Developer<br/>
    As a freelancer, Kyle worked on a wide range of projects. From legendary baseball players, educational toy makers, local government and the same lab responsible for The Manhattan Project. His main focus was on the most commonly requested feature, the CMS. He spent the greater part of the span developing website editing tools that gave the client the most control with the simplest user interface.<br/>
    <em>PRIMARY CLIENTS:</em><br/>
    <a href="http://750group.com" target="_blank">750 Group</a>
    &nbsp;/&nbsp;
    <a href="http://epiphanet.com" target="_blank">epiphanet</a>
    &nbsp;/&nbsp;
    <a href="http://designwomb.com" target="_blank">Design Womb</a>
    &nbsp;/&nbsp;
    <a href="http://www.fusiontree.com" target="_blank">Fusion Tree</a>
    &nbsp;/&nbsp;
    <a href="http://semigood.com" target="_blank">Semigood</a>
    &nbsp;/&nbsp;
    Reggie Jackson
    &nbsp;/&nbsp;
    Los Alamos National Laboratory
    &nbsp;/&nbsp;
    ThinkFun
    <br/><br/>
    2000 - 2004 / Programmer<br/>
    <a href="http://epiphanet.com" target="_blank">epiphanet</a><br/>
    Kyle was the lead programmer on nearly every project coding both the client and server side. For many of the projects, he was also the designer.
    <br/><br/>
  </div>

  <strong>PROJECTS</strong><br/>
  <div class="entry">
    <a href="http://araujoestate.com/" target="_blank">Araujo Estate</a>
    &nbsp;/&nbsp;
    <a href="http://cirq.com/" target="_blank">CIRQ</a>
    &nbsp;/&nbsp;
    <a href="http://www.bpwine.com" target="_blank">The BPW</a>
    &nbsp;/&nbsp;
    <a href="http://www.staglinfamily.com" target="_blank">Staglin Family Vineyards</a>
    &nbsp;/&nbsp;
    <a href="http://www.vitis.com" target="_blank">Vitis</a>
    &nbsp;/&nbsp;
    <a href="http://www.hanzell.com" target="_blank">Hanzell</a>
    &nbsp;/&nbsp;
    <a href="http://www.linkedvineyards.com" target="_blank">Linked Vineyards</a>
    &nbsp;/&nbsp;
    <a href="http://brendenrodriguez.com" target="_blank">Brenden Rodriguez</a>
    &nbsp;/&nbsp;
    <a href="http://www.michelleedmunds.com" target="_blank">Michelle Edmunds</a>
    &nbsp;/&nbsp;
    <a href="http://cloudtopyogurt.com" target="_blank">Cloud Top</a>
    &nbsp;/&nbsp;
    <a href="http://flowerandgold.com" target="_blank">Flower &amp; Gold</a>
    <br/><br/>
  </div>

  <strong>PROFICIENT IN</strong><br/>
  <div class="entry">
    <em>LANGUAGES</em><br/>
    JavaScript, PHP, HTML, CSS, Sass/Compass, LESS, Jade, Stylus, GLSL, ActionScript, Objective-C<br/>
    <em>TOOLS</em><br/>
    Git, Grunt, Browserify, npm, Bower, JamJS, RequireJS, Composer<br/>
    <em>FRAMEWORKS</em><br/>
    VanillaJS, jQuery, Sencha, Backbone.js, Ember.js, AngularJS, Express, CakePHP, Croogo<br/>
    <em>DATABASES</em><br/>
    LevelDB, MongoDB, MySQL, Postgre, IndexedDB<br/>
    <em>MISC</em><br/>
    Node.js, CommonJS, AMD, WebGL, WebAudio, LocalStorage, Photoshop/GIMP<br/>
    <br/><br/>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>