---
layout: default
---
<div class="about">
  <h1>ABOUT</h1>
  <div class="cols">
    <p>I am a passionate web developer from Napa, CA. I've built things for the web for over 12 years.</p>

    <h2>Family</h2>
    <p>I'm fortunate to share my life with the two greatest boys Issac and Oliver and my endearing wife Crystal.</p>

    <h2>Hobbies</h2>
    <p>I enjoy contributing to open source, working on and playing games, programming and flying drones. When forced to do things away from the computer I will usually juggle, play music or take photos.</p>
  </div>
</div>

<hr />

<div class="about">
  <h1>TOOLS</h1>
  <div class="cols">
    <p><strong>I prefer the following things when working:</strong><br/>
    Sublime Text, Chrome, git, Compass/Sass, JavaScript, npm, Node.js.<br/><br/><br/></p>

    <p><strong>I am skilled in the following buzzwords:</strong><br/>
    JavaScript, PHP, Node.js, Objective-C, HTML5, CSS3, Photoshop, ActionScript, SQL &amp; NoSQL Databases, MVC, WebGL, Phonegap, jQuery and Scrum Project Management.</p>
  </div>
</div>