---
layout: default
---
<div class="resume">
  <div class="entry">
    <strong>KYLE ROBINSON YOUNG</strong> is an ardent web developer, and open source enthusiast. He lives in Napa, California with his wonderful wife and two sons. When not crafting code for <a href="http://youneedabudget.com" target="_blank">YNAB</a>, Kyle enjoys a long list of odd hobbies including: programming flying robots, competitive apple juggling, constructing voxel worlds, flatland BMX, and composing oddly timed music with his cello, guitar and drums.
    <br/><br/>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>