---
layout: default
---
<div class="post">
  <p>
    <strong>KYLE ROBINSON YOUNG</strong> is an open source developer that works for <a href="http://youneedabudget.com" target="_blank">YNAB</a>. He lives in Portland, OR with his wife and two sons. Kyle enjoys a long list of odd hobbies including: programming flying robots, competitive apple juggling, constructing voxel worlds, BMX, and composing oddly timed music with his cello, guitar and drums.
    <br/><br/>
  </p>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>