---
layout: default
---
<div class="about">
  <h1>ABOUT</h1>
  <div class="cols">
    <p>I am a passionate web developer from Napa, CA. I've built things for the web for over 12 years.</p>

    <h2>Family</h2>
    <p>I'm fortunate to share my life with the two greatest boys Issac and Oliver and my endearing wife Crystal.</p>

    <h2>Hobbies</h2>
    <p>I enjoy contributing to open source, working on and playing games, programming and flying drones. When forced to do things away from the computer I will usually juggle, play music or take photos.</p>
  </div>
</div>

<hr />

<div class="about">
  <h1>WORKFLOW</h1>
  <div class="cols">
    <p><strong>I believe in constantly manipulating your workflow. Currently I'm using but not limited to:</strong><br/>
    <br/>
    OSX, Sublime Text, Chrome, git, Compass/Sass, JavaScript, npm, Node.js, Browserify, Grunt, EJS, LevelDB<br/><br/><br/></p>

    <p><strong>I also use:</strong><br/>
    LESS, PHP, Objective-C, Photoshop, CouchDB, Phonegap, jQuery and know SCRUM.</p>
  </div>
</div>