---
layout: default
---
<div class="projects">
  <h1>open source</h1>
  <h3>Projects I've created or actively contribute to</h3>
  <ul>
    <%- printItems([{
      title: 'grunt.js',
      slug: 'gruntjs',
    }, {
      title: 'voxel.js',
      slug: 'voxeljs',
    }, {
      title: 'jmpress.js',
      slug: 'jmpressjs',
      url: 'http://jmpressjs.github.io/jmpress.js'
    }, {
      slug: 'voxel-drone',
    }, {
      slug: 'craft',
    }, {
      slug: 'voxel-snow',
    }, {
      slug: 'voxel-virus',
    }, {
      slug: 'gaze',
    }, {
      slug: 'installers',
    }]) %>
  </ul>
  <br/>
  <h2>previous</h2>
  <ul>
     <%- printItems([{
      title: 'CakePHP',
      slug: 'cakephp',
      url: 'http://cakephp.org'
    }, {
      title: 'Croogo',
      slug: 'croogo',
      url: 'http://croogo.org'
    }]) %>
  </ul>
  <p>and much more on <a href="https://github.com/shama/" target="_blank">github.com/shama</a></p>

  <h1>websites</h1>
  <h3>Websites I've recently created or worked on with a team</h3>
  <ul>
    <%- printItems([{
      title: 'CIRQ',
      slug: 'cirq',
      url: 'http://cirq.com'
    }, {
      title: 'Araujo Estate',
      slug: 'araujo',
      url: 'http://araujoestate.com'
    }, {
      title: 'Staglin Family',
      slug: 'staglin',
      url: 'http://staglinfamily.com'
    }, {
      title: 'Hanzell',
      slug: 'hanzell',
      url: 'http://hanzell.com'
    }, {
      title: 'Michelle Edmunds',
      slug: 'michelleedmunds',
      url: 'http://michelleedmunds.com'
    }, {
      title: 'Brenden Rodriguez',
      slug: 'brendenrodriguez',
      url: 'http://brendenrodriguez.com'
    }]) %>
  </ul>
  <p>and over 250 others in my professional career.<p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
