@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@include global-reset;

@import "bootstrap";
@import "monokai";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$font-header: Lato, Helvetica, Arial, sans-serif;

/* From http://subtlepatterns.com/ps-neutral/ */
$bg-neutral: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX4+Pj09PQf/c7fAAAAGUlEQVR4XnXIMQ0AAACDMPyb3gxA0qswVX1+vw/xW46qyAAAAABJRU5ErkJggg==);

body {
  background-color: #fff;
  font-size: 80%;
  font-family: Lato, Verdana, sans-serif;
  line-height: 18px;
  color: #333;
  //background-image: $bg-neutral;
}
a {
  color: #333;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
h1 {
  font-family: $font-header;
  font-size: 120%;
}
h1,h2,h3 {
  font-weight: bold;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  border-left: 4px solid #ddd;
  margin: 0 5px;
  padding: 3px 5px;
  color: #777;
}
hr {
  width: 100%;
  border: 0;
  border-bottom: 8px dotted #eee;
}
.clear {
  width: 100%;
  display: block;
  clear: both;
}

.container {
  margin: 10px;
}

.container > .header {
  width: 160px;
  position: fixed;
  top: 10px;
  left: 10px;
  @include phone() {
    width: 100%;
    clear: both;
    position: static;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    width: 100%;
    @include phone() {
      width: 30%;
      float: left;
    }
  }
  .avatar {
    @include border-radius(60px);
    border: 1px solid #ddd;
    padding: 0px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    &:hover {
      border: 1px solid transparent;
      background-color: transparent;
    }
  }
  .icons {
    padding-top: 20px;
    @include phone() { padding-top: 0px; }
  }
  .icon {
    @extend .avatar;
    padding: 3px;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 3px;
  }
  .name {
    @include border-radius(0px);
    font-family: $font-header;
    font-weight: bold;
    padding: 3px 0;
    @include phone() { display: none; }
  }
}

.container > .content {
  width: 670px;
  margin-left: 200px;
  @include phone() {
    width: 100%;
    clear: both;
    margin: 10px 0 0 0;
  }
}

// posts
.post {
  @include clearfix;
  border-bottom: 8px dotted #eee;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  color: #aaa;
  .header {
    font-size: 150%;
    @include clearfix;
    h1 {
      color: #333;
    }
    em {
      font-size: 70%;
      font-style: italic;
    }
  }
  .project {
    @include border-radius(60px);
    border: 1px solid #ddd;
    padding: 0px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    float: right;
  }
  .deprecated {
    @include border-radius(3px);
    background-color: #f2dede;
    color: #b94a48;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 20px;
    b {
      font-weight: bold;
    }
  }
  h2 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 130%;
    a {
      text-decoration: none;
    }
  }
  p > code, h2 > code, li > code {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 0 3px;
    text-transform: none;
    @include border-radius(3px);
  }
  pre {
    margin: 5px 0;
    > code {
      @include border-radius(3px);
      font-family: monospace, courier;
      font-size: 90%;
      line-height: 18px;
      @include phone() { overflow: auto; }
    }
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.content > .post {
  color: #333;
  font-size: 120%;
  line-height: 24px;
  .header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 8px dotted #eee;
  }
  p, ul, ol, h2, h3, h4, h5 {
    padding: 0 5px 5px 5px;
  }
  .edit {
    font-size: 80%;
    width: 98%;
    padding: 15px 5px 5px 5px;
    text-align: right;
    a {
      text-decoration: none;
      &:hover { color: #666; }
    }
  }
}

.share {
  padding: 10px;
  background-color: #ccc;
  @include clearfix();
  .addthis_toolbox {
    width: 50%;
    float: left;
  }
}

.nav {
  display: block;
  width: 100%;
  padding-top: 25px;
  @include phone() {
    padding-top: 0px;
    padding-left: 5px;
  }
  a {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    @include phone() { line-height: 20px; }
    &:hover {
      color: #666;
    }
  }
}

.projects {
  h1 {
    text-transform: uppercase;
    font-size: 130%;
    margin-top: 40px;
  }
  ul {
    margin-top: 20px;
    width: 100%;
    @include clearfix;
  }
  li {
    width: 200px;
    height: 80px;
    float: left;
    margin: 0 5px 3px 0;
    @include box-sizing(border-box);
    position: relative;
    overflow: hidden;
    @include phone() { width: 100%; }
    a {
      width: 200px;
      height: 80px;
      border: 1px solid #ddd;
      display: block;
      text-align: center;
      @include phone() { margin: 0 auto; }
      &:hover div {
        bottom: 0px;
      }
    }
    div {
      @include transition-duration(0.5s);
      position: absolute;
      bottom: -100px;
      background-color: #fff;
      color: #333;
      padding: 3px;
      width: 100%;
      @include box-sizing(border-box);
    }
  }
}

.cols {
  @include column-count(2);
  @include phone() { @include column-count(1); }
}

@import "resume";
