@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@include global-reset;

@import "bootstrap";
@import "monokai";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$font-header: Lato, Helvetica, Arial, sans-serif;

/* From http://subtlepatterns.com/ps-neutral/ */
$bg-neutral: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX4+Pj09PQf/c7fAAAAGUlEQVR4XnXIMQ0AAACDMPyb3gxA0qswVX1+vw/xW46qyAAAAABJRU5ErkJggg==);

body {
  background-color: #fff;
  font-size: 80%;
  font-family: Lato, Verdana, sans-serif;
  line-height: 18px;
  color: #333;
  //background-image: $bg-neutral;
}
a {
  color: #333;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
h1 {
  font-family: $font-header;
  font-size: 120%;
  text-transform: uppercase;
}
h1,h2,h3 {
  font-weight: bold;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  border-left: 4px solid #ddd;
  margin: 0 5px;
  padding: 3px 5px;
  color: #777;
}
.clear {
  width: 100%;
  display: block;
  clear: both;
}

.container {
  margin: 10px;
}

.container > .header {
  width: 160px;
  position: fixed;
  top: 10px;
  left: 10px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    width: 100%;
  }
  .avatar {
    @include border-radius(60px);
    border: 1px solid #ddd;
    padding: 0px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    &:hover {
      border: 1px solid transparent;
      background-color: transparent;
    }
  }
  .icon {
    @extend .avatar;
    padding: 3px;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 3px;
  }
  .name {
    @include border-radius(0px);
    font-family: $font-header;
    font-weight: bold;
    padding: 3px 0;
  }
}

.container > .content {
  width: 770px;
  margin-left: 200px;
}

// posts
.post {
  @include clearfix;
  @include border-top-right-radius(20px);
  border-bottom: 8px dotted #eee;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  color: #aaa;
  .header {
    font-size: 150%;
    @include clearfix;
    h1 {
      width: 80%;
      float: left;
      color: #333;
    }
    em {
      font-size: 70%;
      font-style: italic;
    }
  }
  .project {
    @include border-radius(60px);
    border: 1px solid #ddd;
    padding: 0px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    float: right;
  }
  h2 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 130%;
  }
  p > code {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 0 3px;
    @include border-radius(3px);
  }
  pre {
    margin: 5px 0;
    > code {
      @include border-radius(3px);
      font-family: monospace, courier;
      font-size: 90%;
      line-height: 18px;
    }
  }
}

.content > .post {
  color: #333;
  font-size: 120%;
  line-height: 24px;
  .header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 8px dotted #eee;
  }
  p, ul, ol, h2, h3, h4, h5 {
    padding: 0 5px 5px 5px;
  }
}

.share {
  padding: 10px 5px 0 5px;
  background-color: #ccc;
}
